<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="niteco_oracle" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Niteco Oracle</label>
            <tab>sales</tab>
            <resource>Niteco_Oracle::system_config</resource>

            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send orders to Oracle</label>
                <field id="enabled" translate="label" type="select"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="redis_host" translate="label" type="text"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redis Host</label>
                    <comment>Example: localhost</comment>
                </field>
                <field id="redis_port" translate="label" type="text"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redis Port</label>
                    <comment>Example port: 6379</comment>
                </field>
                <field id="redis_password" translate="label" type="password"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redis Password</label>
                    <comment>Password connect to server redis-cache</comment>
                </field>
                <field id="queue_key" translate="label" type="text"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Queue Key</label>
                    <comment>Queue Key example: nitecoqueue</comment>
                </field>

                <field id="store_id" translate="label" type="text"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Store ID</label>
                    <comment>Default Store US = 1</comment>
                </field>

            </group>

            <group id="send_mail" translate="label" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send mail when error</label>
                <field id="enabled" translate="label" type="select"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_receive" translate="label comment" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Notify e-mails when error occurs</label>
                    <comment>Leave this blank for none, multiple recipients should be separated with a ";"</comment>
                </field>
            </group>

        </section>
    </system>
</config>